.page {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1262px;
  width: 100%;
}

.header {
  background: url("./images/header_background-1920.png");
}

.header__block {
  min-height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__block-logo {
  padding-top: 26px;
  margin: 0 auto;
  max-width: 1366px;
}

.hourse_image {
  width: 245px;
  height: 36px;
}

.header__block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 542px;
  margin-top: 62px;
}

.header__block-content-title {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: calc(36px + 24 * (100vw - 375px) / 1920);
  font-weight: 400;
  line-height: 66px;
  text-transform: uppercase;
  opacity: 0.8;
  margin-bottom: 24px;
}

.header_title-up {
  margin-bottom: 312px;
}

.header_title-center {
  margin-left: 91px;
}

.header_title-down {
  margin-left: 30px;
}

.header__block-content-text {
  font-family: Golos Text, Arial, Helvetica, sans-serif;
  font-size: calc(18px + 2 * (100vw - 375px) / 1920);
  font-weight: 400;
  line-height: 23.4px;
  opacity: 0.8;
  text-align: center;
}

.header__block-content-buttons {
  display: flex;
  gap: 5vh;
  margin-top: 40px;
  font-family: Golos Text, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: center;
}

.buttons_left {
  color: #fff;
  width: 263px;
  height: 72px;
  background: #000;
  border-radius: 50px;
  transition: 0.5s;
}

.buttons_right {
  border: 2px, solid, #1f1f1f;
  width: 263px;
  height: 72px;
  border-radius: 50px;
  transition: 0.5s;
}

.buttons_left:hover {
  cursor: pointer;
  color: #000;
  background: #fbce51;
}

.buttons_right:hover {
  cursor: pointer;
  color: #fff;
  background: #000;
}

.running_line {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 24.2px;
  color: #fff;
  padding: 18px 12px 18px 12px;
  background-color: #f54932;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content {
  margin-top: 80px;
}

.lection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.lection__title,
.lection__title-down {
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 400;
  line-height: 48.6px;
  text-transform: uppercase;
}

.lection__title-second {
  font-weight: 700;
  color: #f54932;
}

.lection__title-third {
  display: none;
}

.lection__title-fourth {
  display: none;
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 700;
  line-height: 48.6px;
  text-transform: uppercase;
  color: #f54932;
}

.lection__image {
  border-radius: 50%;
}

.table {
  margin-top: 17px;
  display: flex;
  column-gap: 10px;
}

.table__foto {
  width: 40%;
}

.table_image {
  width: 100%;
  max-width: 474px;
}

.table__block {
  padding-top: 35px;
  width: 60%;
}

.table__block-title {
  font-family: Merriweather, Arial, Helvetica, serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48.6px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.table__block-title-second {
  font-weight: 700;
  color: #f54932;
}

.table__block-list {
  display: grid;
  grid-template-columns: auto auto;
  font-family: Golos Text;
  font-size: 20px;
  line-height: 24px;
  color: #313131;
  padding-bottom: 40px;
}

.left_column {
  font-weight: 400;
  opacity: 0.7;
  padding: 8px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-left: none;
  border-bottom: none;
}

.left_column-up {
  border-top: none;
}

.right_column {
  font-weight: 600;
  padding: 8px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.right_column-up {
  border-top: none;
  border-left: none;
}

.right_column-line {
  text-decoration: line-through;
  text-decoration-color: #f54932;
  color: #313131;
}

.table__block-text {
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #3057a2;
}

.stage {
  margin-top: 200px;
}

.stage__headers {
  padding-bottom: 54px;
}

.stage__headers-title {
  width: 806px;
  height: 130px;
  font-family: Merriweather;
  font-size: 54px;
  font-weight: 400;
  line-height: 64.8px;
  text-transform: uppercase;
}

.stage__headers-discriptions {
  position: absolute;
  width: 280px;
  height: 48px;
  margin-top: 10px;
  margin-left: 20px;
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #3057a2;
  text-transform: lowercase;
}

.stage__cards {
  display: grid;
  grid-template-columns: repeat(3, 395px);
  grid-template-rows: repeat(3, 124px);
  gap: 10px;
}

.stage_portfolio3 {
  grid-row: span 2 / span 2;
}

.stage_portfolio6 {
  grid-row-start: 3;
}

.stage_portfolio7 {
  grid-row-start: 3;
}

.participants {
  margin-top: 200px;
  margin-bottom: 140px;
}

.participants__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
  align-items: center;
}

.participants_title {
  font-family: Merriweather;
  font-size: 54px;
  font-weight: 400;
  line-height: 64.8px;
  text-transform: uppercase;
}

.participants_buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.participants_buttons-right {
  background: #1f1f1f;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: 0.5s;
}

.participants_buttons-right:hover {
  background: #fbce51;
}

.numbers {
  font-family: Merriweather;
}

.participants_buttons-left {
  background: #1f1f1f;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: 0.5s;
}

.participants_buttons-left:hover {
  background: #fbce51;
}

.content_images-blocks {
  display: flex;
  justify-content: space-around;
}

.footer {
  padding: 40px 72px 72px 72px;
  background-color: #e9ded4;
}

.footer_title {
  font-family: Golos Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  opacity: 0.6;
}

@media screen and (max-width: 1366px) {
  .header__block-logo {
    padding-top: 26px;
    margin: 0 auto;
    max-width: 542px;
  }

  .header__block-content {
    max-width: 505px;
    margin: 0 auto;
    margin-top: 62px;
  }
}

@media screen and (max-width: 1024px) {
  .header__block-logo {
    padding-top: 26px;
    margin: 0 auto;
    max-width: 542px;
  }

  .header__block-content {
    max-width: 455px;
    margin: 0 auto;
    margin-top: 62px;
  }
  .lection {
    flex-direction: column;
    margin: 0 auto;
    max-width: 542px;
  }

  .lection__title-third,
  .lection__title-fourth {
    display: block;
  }

  .lection__title-first-up {
    display: none;
  }

  .lection__title-second {
    display: none;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 542px;
  }

  .table__foto {
    width: 100%;
  }

  .table_image {
    margin: 0 auto;
    display: block;
  }

  .table__block {
    padding-top: 24px;
    width: 100%;
  }

  .table__block-list {
    grid-template-columns: 1fr;
  }

  .left_column {
    font-weight: 400;
    opacity: 0.7;
    padding: 8px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-left: none;
    border-bottom: none;
    border-right: none;
  }

  .left_column-up {
    border-top: none;
    border-right: none;
  }

  .right_column {
    font-weight: 600;
    padding: 8px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-top: none;
  }

  .right_column-up {
    border-top: none;
    border-left: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    background: url("./images/header_background-375.png");
  }

  .header__block {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .header__block-logo {
    padding-top: 18px;
    margin: 0 auto;
    max-width: 335px;
    margin-bottom: 40px;
  }

  .hourse_image {
    width: 213px;
    height: 32px;
  }

  .header__block-content {
    max-width: 335px;
    margin: 0 auto;
  }

  .header__block-content-title {
    font-family: Merriweather, Arial, Helvetica, sans-serif;
    font-size: calc(26px + 24 * (100vw - 375px) / 600);
    line-height: 110%;
    margin-bottom: 24px;
  }

  .header_title-center {
    margin-left: 63px;
  }

  .header_title-down {
    margin-left: 25px;
  }

  .header__block-content-text {
    font-family: Golos Text, Arial, Helvetica, sans-serif;
    font-size: calc(15px + 28 * (80vw - 300px) / 1920);
    font-weight: 400;
    line-height: 21.4px;
  }

  .header__block-content-buttons {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: Golos Text, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
  }

  .buttons_left {
    color: #fff;
    width: 280px;
    height: 47px;
    background: #000;
    border-radius: 50px;
    transition: 0.5s;
  }

  .buttons_right {
    border: none;
    width: 280px;
    height: 47px;
    background: #fff;
    border-radius: 50px;
    transition: 0.5s;
  }

  .running_line {
    font-size: 16px;
    line-height: 21.2px;
    padding: 10px 12px 10px 12px;
    letter-spacing: 1px;
  }

  .content {
    margin-top: 48px;
  }

  .lection,
  .lection__title,
  .lection__title-first,
  .lection__title-first-up,
  .lection__title-second,
  .lection__title-down,
  .lection__title-third,
  .lection__title-fourth,
  .table,
  .stage,
  .participants {
    font-size: 24px;
    font-weight: 400;
    line-height: 32.6px;
    text-transform: uppercase;
    max-width: 336px;
    margin: 0 auto;
  }

  .lection__title-fourth {
    font-weight: 700;
    color: #f54932;
  }

  .lection__image {
    width: 260px;
  }

  .table__block-title,
  .participants_title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32.6px;
    text-transform: uppercase;
    max-width: 336px;
    margin: 0 auto;
  }

  .table__block-text {
    font-size: 16px;
  }

  .stage__headers {
    margin-top: 132px;
    padding-bottom: 10px;
  }

  .stage__headers-title {
    width: 335px;
    height: 120px;
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 400;
    line-height: 32.8px;
    text-transform: uppercase;
  }

  .stage__headers-discriptions {
    display: none;
  }

  .stage__cards {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
  }

  .participants__header {
    display: flex;
    flex-direction: column;
  }

  .participants_images {
    display: flex;
    flex-direction: column;
  }
}
